﻿@model IEnumerable<VendingMachine.Web.Models.DrinkViewModel>

@{
    Layout = null;
}

@helper CreateList(string content)
{
    @Html.Raw(content);
}

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<body>
    @using (Html.BeginForm())
    {
        <table border="1">
            <tr>
                <td rowspan="2">
                    <h3 valign="top">2 - выберите напиток</h3>

                    <table>
                        <tr>
                            @{
                                var i = 0;
                                foreach (var p in Model)
                                {
                                    i++;
                                    if ((p.Price <= ViewBag.SumMoney) & (p.BThereIsDrink))
                                    {
                                        <td align="center">
                                            <button name="clickonbutton" type="submit" value="@p.Name"><img class="center" src="@Url.Action("GetImage", "Home", new {p.ProductID })" style="width: 128px; height: 96px;vertical-align: bottom">@p.Name, @p.Price руб.</button>
                                        </td>
                                    }
                                    else
                                    {
                                        <td align="center">
                                            <button name="clickonbutton" type="submit" value="@p.Name" disabled><img class="center" src="@Url.Action("GetImage", "Home", new {p.ProductID })" style="width: 128px; height: 96px;vertical-align: bottom">@p.Name, @p.Price руб.</button>
                                        </td>
                                    }
                                    if (i % 3 == 0)
                                    {
                                        @CreateList("</tr> <tr>");
                                    }
                                }
                            }
                            <td>
                                <input class="hide" name="SumMoney" value=@ViewBag.SumMoney>
                            </td>
                        </tr>
                    </table>

                </td>
                <td valign="top">
                    <h3 valign="top">1 - внесите деньги</h3>
                    <table>
                        <tr>
                            <td><input name="clickbuttoncoin" id="One" class="button" type="submit" value="1 руб." disabled=@ViewBag.BDontOne /></td>
                            <td><input name="clickbuttoncoin" id="Two" class="button" type="submit" value="2 руб." disabled=@ViewBag.BDontTwo /></td>
                        </tr>

                        <td><input name="clickbuttoncoin" id="Five" class="button" type="submit" value="5 руб." disabled=@ViewBag.BDontFive /></td>
                        <td><input name="clickbuttoncoin" id="Ten" class="button" type="submit" value="10 руб." disabled=@ViewBag.BDontTen /></td>
                        <tr></tr>
                        <tr>
                            <td colspan="2" align="center">Внесено: </td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center">
                                <p><output name="result">@ViewBag.SumMoney</output> руб.</p>
                            </td>

                        </tr>
                    </table>

                </td>
            </tr>
            <tr>
                <td>
                    <h3 valign="top">3 - получите сдачу</h3>
                    <input name="buttonrestofmoney" class="center button" type="submit" value="@ViewBag.RestOfMoney руб." />
                </td>
            </tr>
        </table>
    }
    
    <script type="text/javascript">
        var sum = 0;
        var sumMoneyInput = $('input[name="SumMoney"]');
        var output = $('output[name="result"]');

        function addCoin(nominal) {
            sum += nominal;
            sumMoneyInput.val(parseInt(sum) + parseInt(output.text()));
        }

        $(function () {
            var oneCoinButton = $("#One");
            var twoCoinButton = $("#Two");
            var fiveCoinButton = $("#Five");
            var tenCoinButton = $("#Ten");

            oneCoinButton.click(function () {
                addCoin(1);
            });

            twoCoinButton.click(function () {
                addCoin(2);
            });

            fiveCoinButton.click(function () {
                addCoin(5);
            });

            tenCoinButton.click(function () {
                addCoin(10);
            });
        });
    </script>
</body>

